node_modules/
www/

.android-sdk/
.jdk/
.gradle/

android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml

*.apk
*.aab
*.apks
*.idsig
*.jks
*.keystore

local.properties
*.log
